<html>
  <head>
    <title>Lab 5 activity</title>
  </head>
  <body>
    <form action="/register" method="POST">
       <!-- Add form here asking for first and last name, email, username and password -->
      <label for="firstname">First name</label><br>
      <input type="text" name="firstname" class="name" ><br>

      <label for"lastname">Last name</label><br>
      <input type="text" name="lastname" class="name" ><br>

			<label for="email"> What is your email address?</label> <br>
      <input type="email" name="email" ><br>

       <label for="username">Enter desired username:</label><br>
       <input type="text" id="username" name="username"><br>


       <label for="password">Enter desired password: </label><br>
       <input type="password" id="password" name="password"><br>

       <input type = "submit" value="Login"><br>
    </form>
  </body>
</html>